.news-feed-container {
    background-color: rgb(246, 246, 239);
    display: flex;
    flex-direction: column;
}

.news-feed-live-feed {

}
.news-feed-live-chart {
    border-top: 0.188rem solid  rgb(255, 102, 0);
    border-bottom: 0.188rem solid  rgb(255, 102, 0);
}

.hr-container-header {
    background-color: rgb(255, 102, 0);
    color: antiquewhite;
}
.hr-container-row {
    min-height: 0.1875rem;
    height: 0.1875rem;
    line-height: 0.1875rem;;
}
.text-style {
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    font-size: 9pt;
    overflow-wrap: break-word;
}
.hr-container-body a:link {
    color: black;
}
.votearrow {
    cursor: pointer;
}
.subtext {
    font-size: 8pt;
    float: right;
    font-weight: bold;
    cursor: pointer;
}
.hide-row {
    display: none;
}
.hn-pagination {
    display: flex;
    float: right;
}

.hn-pagination a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}

a:visited {
    color: #828282;
}

.hn-pagination a:link {
    color: orange;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
}

