<div class="news-feed-container">
    <div class="news-feed-live-feed oj-flex-item">
        <table class="table table-striped" aria-label="Hacker News Feed">
            <thead class="hr-container-header">
                <tr class="hr-container-row"></tr>
                <th scope="col" class="th-xs" [attr.aria-label]="header.label" *ngFor="let header of feedHeaders; index as i">{{header.label}}</th>
            </thead>
            <tbody class="hr-container-body">
                <tr scope="row" *ngFor="let feed of allFeeds; index as i" [ngClass]="[feed.isHidden ? 'hide-row': 'hr-container-row']">
                    <td [attr.aria-label]="feed.numComments" class="text-style">{{feed.numComments}}</td>
                    <td [attr.aria-label]="feed.upVote" class="text-style">{{feed.upVote}}
                    </td>
                    <td aria-label="UpVote button" class="text-style">
                        <span class="glyphicon glyphicon-search votearrow" (click)="onClickVote(feed)" title="upvote">
                            <img width=10 src="grayarrow.png"/></span>
                    </td>
                    <td [attr.aria-label]="feed.title" class="text-style">
                        <a href="{{feed.createdAtUrl}}" >{{feed.title}}</a>
                        <span class="subtext" (click)="onClickHide(feed)">[hide]</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="hn-pagination">
            <a routerLink [queryParams]="{ page: currentPage - 1 }" [class.disabled]="currentPage === 0">Previous |</a>
            <a routerLink [queryParams]="{ page: currentPage + 1 }" [class.disabled]="currentPage === totalPages - 1">Next</a>
        </div>
    </div>
    <div class="news-feed-live-chart oj-flex-item">
        <app-news-chart [newsfeedData] = "allFeeds"></app-news-chart>
    </div>
</div>